<main>
    {{#if hasProducts}}
    <div class="grid">
        {{#each prods}}
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">{{ this.title}}</h1>
            </header>
            <div class="card__image">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFIflSF17tp5n2Nv41JTwKHL8Fp2mPBHiZpidBAk7BYs3cEAj7&s">
            </div>
            <div class="card__content">
                <h2 class="product__price">$19.99</h2>
                <p class="product__description">A very interesting book about so many even more interesting thing!
                </p>
            </div>
            <div class="card__actions">
                <button class="btn">Add tp Cart</button>
            </div>
        </article>
        {{/each}}
    </div>
    {{else}}
    <h1>No Products found!</h1>
    {{/if}}
</main>
</body>